<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{vendors/bootstrap/css/bootstrap.min.css}" media="all">
    <!-- Fonts Awesome CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{vendors/fontawesome/css/all.min.css}">
    <!-- jquery-ui css -->
    <link rel="stylesheet" type="text/css" th:href="@{vendors/jquery-ui/jquery-ui.min.css}">
    <!-- modal video css -->
    <link rel="stylesheet" type="text/css" th:href="@{vendors/modal-video/modal-video.min.css}">
    <!-- light box css -->
<!--    <link rel="stylesheet" type="text/css" th:href="@{vendors/lightbox.dist/css/lightbox.min.css}">-->
    <!-- slick slider css -->
    <link rel="stylesheet" type="text/css" th:href="@{vendors/slick/slick.css}">
    <link rel="stylesheet" type="text/css" th:href="@{vendors/slick/slick-theme.css}">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&amp;family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&amp;display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
<!--    <link rel="stylesheet" type="text/css" th:href="@{admin_style/css/style.css}">-->
<!--    <link rel="stylesheet" th:href="@{admin_style/css/bootstrap.min.css}" media="all">-->
<!--    &lt;!&ndash; Fonts Awesome CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css"th:href="@{admin_style/css/css/all.min.css}">-->
    <title>Travele | Travel & Tour HTML5 template </title>
</head>
<body class="home">

<div id="page" class="full-page">
    <header id="masthead" class="site-header header-primary">
        <!-- header html start -->
        <div class="bottom-header">
            <div class="container d-flex justify-content-between align-items-center">
                <div class="site-identity">
                    <h1 class="site-title">
                        <a href="index-2.html">
                            <img class="white-logo" th:src="|@{/images/}travele-logo.png|" alt="logo">
                        </a>
                    </h1>
                </div>
                <div class="main-navigation d-none d-lg-block">
                    <nav id="navigation" class="navigation">
                        <ul>
                            <li class="menu-item-has-children ">
                                <a href="index-2.html">Trang chủ</a>
                            </li>

                            <li class="menu-item-has-children aaa">
                                <a href="#">Địa điểm du lịch</a>
                                <ul>
                                    <li class="menu-item-has-children aaa">
                                        <a href="#">Du lịch miền bắc</a>
                                        <ul>
                                            <li th:each="typeMB : ${lstTypeTour}">
                                                <a href="" th:if="${typeMB.region=='1'}"><p th:text="${typeMB.nameTypeTour}"></p></a>
                                            </li>

                                        </ul>
                                    </li>

                                    <li class="menu-item-has-children aaa">
                                        <a href="admin/db-package.html">Du lịch miền trung</a>
                                        <ul>
                                            <li th:each="typeMB : ${lstTypeTour}">
                                                <a href="" th:if="${typeMB.region=='2'}"><p th:text="${typeMB.nameTypeTour}"></p></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children aaa">
                                        <a href="admin/db-package.html">Du lịch miền nam</a>
                                        <ul>
                                            <li th:each="typeMB : ${lstTypeTour}">
                                                <a href="" th:if="${typeMB.region=='3'}"><p th:text="${typeMB.nameTypeTour}"></p></a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
        <div class="mobile-menu-container"></div>
    </header>
    <main id="content" class="site-main">
        <!-- Home banner html start -->
        <section class="home-banner-section">
            <div class="home-banner-items">
                <div class="banner-inner-wrap" style="background-image: url(/images_data/banner-du-lich.jpg)" ></div>
                <div class="banner-content-wrap">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <div class="banner-content section-heading section-heading-white">
                                    <h3 class="banner-title">Chào mừng đến với Travele</h3>
                                    <h4 style="color: white">Khám phá mọi miền Tổ Quốc</h4>
                                    <div class="title-icon-divider"><i class="fas fa-suitcase-rolling"></i></div>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <!-- Home search field html start -->
                                <div class="trip-search-section">
                                    <div class="container">
                                        <div class="trip-search-inner secondary-bg">
                                            <div class="input-group width-col-1">
                                                <label> Địa điểm muốn đến  </label>
                                                <input type="text" name="s" placeholder="Địa điểm">
                                            </div>
                                            <div class="input-group width-col-1">
                                                <label> Ngày khởi hành </label>
                                                <i class="far fa-calendar"></i>
                                                <input class="input-date-picker" type="text" name="s" placeholder="DD / MM / YY" autocomplete="off" >
                                            </div>
                                            <div class="input-group width-col-1">
                                                <label class="screen-reader-text"> Tìm kiếm </label>
                                                <input type="submit" name="travel-search" value="Tìm kiếm">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- search search field html end -->
                            </div>
                        </div>

                    </div>
                </div>
                <div class="overlay"></div>
            </div>
        </section>

        <div class="package-section">
            <div class="container">
                <div class="package-inner">
                    <div class="row">
                        <div class="col-lg-4 col-md-6" th:each="tour:${lstTour}">
                            <div class="package-wrap">
                                <figure class="feature-image">
                                    <a href="#">
                                        <img th:src="|@{/images_data/}${tour.imgName}|" alt="">
                                    </a>
                                </figure>
                                <div class="package-price">
                                    <h6>
                                        <span th:text="${tour.formatPrice}"></span> VND/người
                                    </h6>
                                </div>
                                <div class="package-content-wrap">
                                    <div class="package-meta text-center">
                                        <ul>
                                            <li th:text="${tour.duration}">
                                                <i class="far fa-clock"></i>
                                                7D/6N
                                            </li>

                                            <li th:text="'Khởi Hành Tại : '+ ${tour.startDes}">
<!--                                                <i class="fas fa-map-marker-alt"></i>-->
                                                Malaysia
                                            </li>
                                            <li th:text="'Ngày Bắt Đầu : '+ ${tour.startDate}" style="margin-top: 5px">
<!--                                                <i class="fas fa-map-marker-alt"></i>-->
                                                Malaysia
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="package-content">
                                        <h3>
                                            <a href="#" th:text="${tour.tourName}"></a>
                                        </h3>
                                        <div class="review-area">
                                            <span class="review-text">(25 reviews)</span>
                                            <div class="rating-start" title="Rated 5 out of 5">
                                                <span style="width: 60%"></span>
                                            </div>
                                        </div>

                                        <div class="btn-wrap">
                                            <a href="#" class="button-text">Đặt ngay<i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
            <!-- pagination html -->
            <div class="pagination-wrap">
                <nav class="pagination-inner">
                    <ul class="pagination disabled">
                        <li class="page-item"><span class="page-link"><i class="fas fa-chevron-left"></i></span></li>
                        <li class="page-item"><a href="#" class="page-link active">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
                    </ul>
                </nav>
            </div>

    </main>
    <footer id="colophon" class="site-footer footer-primary">
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <aside class="widget widget_text">
                            <div class="award-img">
                                <a href="#"><img th:src="|@{/images/}logo7.png|" alt=""></a>
                                <a href="#"><img th:src="|@{/images/}logo5.png|" alt=""></a>
                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <aside class="widget widget_text">
                            <h3 class="widget-title">Về chúng tôi</h3>
                            <div class="textwidget widget-text">
                                Travele
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-phone-alt"></i>
                                            0287777723
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-envelope"></i>
                                            <span class="__cf_email__" data-cfemail="8deee2e0fdece3f4cde9e2e0ece4e3a3eee2e0">travele@gmail.com</span>
                                        </a>
                                    </li>
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        462 Đường Bưởi , Vĩnh Phúc, Hà Nội
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>

                </div>
            </div>
        </div>

    </footer>
    <a id="backTotop" href="#" class="to-top-icon">
        <i class="fas fa-chevron-up"></i>
    </a>
    <!-- header html end -->
</div>

<!-- JavaScript -->
<!--<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>-->
<script th:src="@{js/jquery.js}"></script>
<!--<script src="../../../cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>-->
<script th:src="@{vendors/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{vendors/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{vendors/countdown-date-loop-counter/loopcounter.js}"></script>
<script th:src="@{js/jquery.counterup.js}"></script>
<script th:src="@{vendors/modal-video/jquery-modal-video.min.js}"></script>
<script th:src="@{vendors/masonry/masonry.pkgd.min.js}"></script>
<!--<script th:src="@{vendors/lightbox.dist/js/lightbox.min.js}"></script>-->
<script th:src="@{vendors/slick/slick.min.js}"></script>
<script th:src="@{js/jquery.slicknav.js}"></script>
<!--<script th:src="@{admin_style/js/custom.min.js}"></script>-->
<!--<script th:src="@{admin_style/js/jquery-3.2.1.min.js}"></script>-->
<!--<script src="../../../../cdn.jsdelivr.net/npm/popper.js%401.16.0/dist/umd/popper.min.js"></script>-->
<!--<script th:src="@{admin_style/js/bootstrap.min.js}"></script>-->
<!--<script th:src="@{admin_style/js/canvasjs.min.js}"></script>-->
<!--<script th:src="@{admin_style/js/counterup.min.js}"></script>-->
<!--<script th:src="@{admin_style/js/jquery.slicknav.js}"></script>-->
<!--<script th:src="@{admin_style/js/dashboard-custom.js}"></script>-->

</body>
</html>